<template>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Todo: {{info.id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" v-model="newTitle">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="$emit('close')">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="check()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
          return{
              newTitle:'',
              oldTitle:''
          }
        },
        methods: {
            check(){
                if(this.newTitle === this.oldTitle){
                    return this.$emit('close')
                }else {
                    return this.$emit('save', [this.newTitle,this.$props.info.id])
                }
            }
        },
        mounted() {
            this.newTitle = this.oldTitle = this.$props.info.title;
        },
        props:['info']
    }
</script>