<template>
    <div>
        <div class="row col-md-12">
            <div class="col-md-12">
                <div id="mdb-lightbox-ui"></div>
                <div class="mdb-lightbox col-md-11 mt-4 row"  style="margin: auto">
                    <figure class="col-md-4" v-for="(gal,index) in gallery" :key="index">
                            <img alt="picture" :src="gal.url"
                                 class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                gallery:[
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(16).jpg'},
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(96).jpg'},
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(104).jpg'},
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg'},
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(122).jpg'},
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg'},
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(125).jpg'},
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg'},
                    {url:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(119).jpg'},
                ]
            }
        }
    }
</script>

<style scoped>

</style>