<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-5">
                <li class="nav-item">
                    <router-link to="/todo" exact class="navbar-brand mb-0 h1">Todo List</router-link>
                </li>
                <li class="nav-item ml-3">
                    <router-link to="/images" exact class="left navbar-brand mb-0 h1">Galery</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
</script>

<style scoped>

</style>