<template>
    <div id="table-container" class="col-md-8">
        <div class="row mt-4" style="display: flex; justify-content: space-around">
            <input data-toggle="modal" data-target="#createModal" type="Button" class="form-control col-md-3 mt-3" @click="create_dialog =! create_dialog" value="Create Todo">
            <select class="form-control col-md-3 mt-3" @change="changeSel($event)">
                <option v-for="(sel, index) in sel_types"  :value="index">{{sel}}</option>
            </select>
            <button class="btn btn-success btn-sm" @click="cl()">Load Todo list</button>
        </div>
        <table class="table col-md-12 mt-5 table-hover">
            <thead>
            <tr>
                <th v-for="(head, index) in header"  :key="index" v-text="head"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(user,index) in arr" :key="user.id">
                <td >{{user.id}}</td>
                <td>
                    <p v-if="user.completed" ><s>{{user.title}}</s></p>
                    <p v-else>{{user.title}}</p>
                </td>
                <td>
                    <div class="form-check" align="center">
                        <input type="checkbox" @click="change(index)" :checked="user.completed" class="form-check-input" >
                    </div>
                </td>
                <td align="center">
                    <i data-toggle="modal" data-target="#editModal" class="far fa-edit" style="cursor: pointer" @click="edit(user.id, user.title)"></i>
                </td>
                <td align="center">
                    <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer"  @click="arr.splice(index,1)"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <template v-if="edit_dialog">
            <Edit_Dialog :info="info" @save="show($event)" @close="edit_dialog=!edit_dialog"/>
        </template>
        <template v-if="create_dialog">
            <Create_Dialog @save="createDialog($event)" @close="create_dialog=!create_dialog"/>
        </template>
    </div>
</template>

<script>
    import Edit_Dialog from "./Edit_Dialog";
    import Create_Dialog from "./Create_Dialog";
    export default {
        data(){
            return{
                edit_dialog: false,
                create_dialog: false,
                info:{
                    id:'',
                    title:'',
                    'completed':false
                },
                sel_types : [
                    'All',
                    'Selected',
                    'Not selected'
                ],
                arr:[],
                list:[
                    {id:1,title:'Mark','completed':false},
                    {id:2,title:'Jacob','completed':false},
                    {id:3,title:'Mark','completed':true},
                ],
                header:['ID','Todo','Completed'],
                lastID : ''
            }
        },
        created() {
            this.$store.dispatch('createBaseAction');
        },
        methods:{
            cl(){
                this.arr = this.$store.getters.done;
                this.lastID = this.arr.length
            },
            change(index){
                this.arr[index].completed = !this.arr[index].completed
            },
            show(event){
                [this.info.title, this.info.id] = event;
                this.arr.filter(t=>{
                    if(t.id === this.info.id){
                        t.title = this.info.title;
                    }
                });
                this.edit_dialog = !this.edit_dialog
            },
            createDialog(event){
                [this.info.title, this.info.id, this.info.completed] = [event, ++this.lastID , false];
                this.arr.push(this.info);
                this.$store.dispatch('saveTodo',{ title:this.info.title, 'completed':this.info.completed});
                this.info = [
                    {id:''},
                    {title:''},
                    {'completed':false}
                    ];
                this.create_dialog = !this.create_dialog
            },
            edit(id,title){
                this.info.id = id;
                this.info.title = title;
                this.edit_dialog = !this.edit_dialog;
            },
            changeSel(event){
                if(parseInt(event.target.value) === 0){
                    this.arr = this.$store.getters.done
                }else if(parseInt(event.target.value) === 1){
                    this.arr = this.$store.getters.done.filter(t=>{
                        if (t.completed === true){
                            return t
                        }
                    })
                }else if(parseInt(event.target.value) === 2){
                    this.arr = this.$store.getters.done.filter(t=>{
                        if (t.completed === false){
                            return t
                        }
                    })
                }
            }
        },
        components:{
            Edit_Dialog, Create_Dialog
        }
    }
</script>
<style scoped>
    #table-container {
        margin: auto
    }
</style>