<template>
    <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; color: lightslategray">
        <h1>Page Not Found</h1>
    </div>
</template>

<script>
</script>
